asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
contourpy==1.2.1 ; python_version >= "3.11" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.13"
dj-database-url==2.2.0 ; python_version >= "3.11" and python_version < "3.13"
django-cors-headers==4.3.1 ; python_version >= "3.11" and python_version < "3.13"
django-htmx==1.17.3 ; python_version >= "3.11" and python_version < "3.13"
django-tables2==2.7.0 ; python_version >= "3.11" and python_version < "3.13"
django==5.0.6 ; python_version >= "3.11" and python_version < "3.13"
fonttools==4.53.0 ; python_version >= "3.11" and python_version < "3.13"
gunicorn==22.0.0 ; python_version >= "3.11" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.11" and python_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.11" and python_version < "3.13"
matplotlib==3.9.0 ; python_version >= "3.11" and python_version < "3.13"
more-itertools==10.2.0 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
packaging==24.0 ; python_version >= "3.11" and python_version < "3.13"
pandas==2.2.2 ; python_version >= "3.11" and python_version < "3.13"
pillow==10.3.0 ; python_version >= "3.11" and python_version < "3.13"
psycopg2==2.9.9 ; python_version >= "3.11" and python_version < "3.13"
pyparsing==3.1.2 ; python_version >= "3.11" and python_version < "3.13"
pypugjs==5.11.0 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.11" and python_version < "3.13"
scikit-learn==1.5.0 ; python_version >= "3.11" and python_version < "3.13"
scikit-psl @ git+https://github.com/TRR318/scikit-psl.git@f72741172d04965b88fd930bdff21524a5f390ed ; python_version >= "3.11" and python_version < "3.13"
scipy==1.13.1 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "3.13"
sqlparse==0.5.0 ; python_version >= "3.11" and python_version < "3.13"
threadpoolctl==3.5.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "3.13"
whitenoise==6.6.0 ; python_version >= "3.11" and python_version < "3.13"
