ul#data-table.list-group.text-center
  .fw-bold.list-group-item.d-flex.p-0
    .col.p-2 Header 1
    .col.p-2.border-start Header 2
    .col.p-2.border-start Header 3
  each row in rows
    li.list-group-item.list-group-item-action.d-flex.p-0
      each val, index in row
        if index == 0
          .col.p-2= val
        else
          .col.p-2.border-start= val