button.btn.btn-outline-secondary.flex-shrink-0(data-bs-toggle="offcanvas" data-bs-target="#models")= "Models "
    span.mdi.mdi-history
    span#n-models.badge.text-bg-secondary.rounded-pill.position-absolute.top-0.start-100.translate-middle= historylength