.offcanvas-header
  h5.offcanvas-title History
.offcanvas-body
  ul#hist-entries.list-group(hx-target="#model-container")
    for id, name in models.items
      li.list-group-item.list-group-item-action(data-model=id hx-vals='js:{"model":  event.target.closest("li").dataset.model}')
        = name
        .p-0.position-absolute.end-0.remove.d-none
          span.mdi.mdi-content-copy.btn.btn-sm(hx-put="model")
          span.mdi.mdi-delete.btn.btn-sm(hx-delete="model")